{% extends "videos/base.html" %}

{% block body %}

<div class="container">
    <h1 class="display-4">Welcome to WebDeo</h1><br>

    <h3>Note: This is a Trail Version of WebDeo.</h3><br>

    <h6>Lets see what WebDeo can do :</h6>

    <ul>
        <li>Add videos to WebDeo so other people can see it.</li>
        <li>You can also manage your videos like --> Update, Delete.</li>
        <li>Comment and Like the videos.</li>
        <li>Create your own account, So you can post videos on WebDeo. To create a account you just need to fill this
            things --> username, first name, last name, email, password, profile picture(Optional), date of birth(Optional), bio(Optional).</li>
        <li>View Others Profile (You also have your own profile).</li>
        <li>Search for videos.</li>
        <li>And Many More...</li>
    </ul>
	<br>
	<strong>Problem(Sorry for this Problem!): Whenever you Like or Comment or Delete a Comment then the Web Page will Reload.</strong>
	<br>
	<br>
	<h6>The name of this Web App is WebDeo because:<br>
	Web = Web(Internet) and Deo = Last three words of Video.</h6>
	<hr>
	<br>
	<h4>Check Out the Source Code of WebDeo on GitHub</h4>
	<a href="https://github.com/shreyasghansawant/WebDeo">https://github.com/shreyasghansawant/WebDeo</a>
	<hr>
	<br>
	<h5>If You Have Any Problem Feel Free To Contact Me</h5>
	<p>Name: Shreyas Vijay Ghansawant<br>Email: shreyasghansawant@gmail.com</p>
</div>


{% endblock %}
