{% extends "videos/base.html" %}

{% block body %}

<div class="container">
    <h1 class="display-4">Change Password Form</h1>
    <br>
    <form action="{% url 'videos:edit-profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {% for f in form %}
                {{ f.label_tag }}
                {{ f }}
                <small class="text-muted">{{ f.help_text }}</small>
            <br>
            <br>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-success">Change Password</button>
    </form><br>
    <a href="{% url 'videos:edit-profile' %}" class="btn btn-primary">Edit Profile</a>
</div>

{% endblock %}